/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Dark Mode with Accent Colors */
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  background-color: #1a1a1a; /* Dark background */
  color: #f9f9f9; /* Light text color */
}

header {
  background-color: #1a1a1a; /* Dark mode header background */
  color: #ff8c00; /* Vibrant orange heading and link color */
  text-align: center;
  padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif; /* Use the same font for all headings */
}

nav {
  position: relative; /* Initially, the navbar is positioned relative to the header */
  background-color: #1a1a1a; /* Dark mode nav background */
  text-align: center;
  z-index: 999; /* Ensure the navbar is above other elements */
}

nav.fixed {
  position: fixed; /* Fixed position when scrolled up */
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: #ff8c00; /* Vibrant orange link color */
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f08cff; /* Vibrant magenta accent color on hover */
}

.content {
  /* Add some margin at the top to push the content below the fixed navbar */
  margin-top: 60px; /* Adjust this value to match your navbar height */
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 50px;
  margin: 20px;
  background-color: #333; /* Dark section background */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: #f9f9f9; /* Light text color */
  line-height: 1.8;
}


/* Header */
header {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a; /* Dark mode header background */
}

/* Profile box */
.profile-box {
  display: inline-block;
  position: relative;
}

/* Profile image */
.profile-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Name */
header h1 {
  font-size: 2.2rem;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
  margin: 0;
}

.word-container {
  height: 28px; /* Set a fixed height to prevent page jumps */
  overflow: hidden;
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 1.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}



/* About Me section */
#about {
  padding: 40px;
  background-color: #1a1a1a; /* Dark mode about me section background */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* About Me section heading */
#about h2 {
  width: 100%;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
  padding-left: 15px;
  text-align: center;
}

/* About Me grid layout */
.about-grid {
  display: grid;
  grid-template-columns: 40% 60%; /* Set the columns width */
  grid-gap: 20px;
}

/* About Me box */
.about-box {
  padding: 20px;
  border-radius: 10px;
  background-color: #333; /* Dark mode about me box background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* About Me title */
.about-box h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
}

/* Key Strengths list */
.about-box ul {
  padding-left: 20px; /* Add some left padding to the list items */
  list-style: none; /* Remove default list style */
  margin: 0; /* Remove default list margin */
}

/* Key Strengths list item */
.about-box li {
  font-size: 1.2rem;
  color: #f9f9f9; /* Light text color */
  line-height: 1.6;
  margin-bottom: 10px; /* Add some space between list items */
}

/* Key Strengths label */
.key-strength {
  font-weight: bold;
}

/* Technical Skills section */
#skills {
  padding: 40px;
  background-color: #1a1a1a; /* Dark mode technical skills section background */
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Technical Skills section heading */
#skills h2 {
  width: 100%;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
  text-align: center;
}

/* Skills grid layout */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Skill box */
.skill-box {
  padding: 20px;
  background-color: #333; /* Dark mode skill box background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff8c00; /* Vibrant orange border */
}

/* Skill title */
.skill-box h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ff8c00; /* Vibrant orange heading color */
  font-weight: bold;
}

/* Skill description */
.skill-box p {
  font-size: 1.2rem;
  color: #f9f9f9; /* Light text color */
  line-height: 1.6;
  margin: 0;
}

/* Format list items inside the skill-box */
.skill-box ul {
  padding-left: 20px; /* Add some left padding to the list items */
}

.skill-box li {
  list-style-type: disc; /* Change the list item bullet style to a disc */
  margin-bottom: 10px; /* Add some space between list items */
}

/* Projects Section */
#projects {
  text-align: center;
  margin-bottom: 40px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff8c00; /* Vibrant orange border for project items */
  border-radius: 20px;
  padding: 30px;
  background-color: #333; /* Dark mode project item background */
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-item h3 {
  margin-bottom: 10px;
  color: #ff8c00; /* Vibrant orange project heading color */
  font-size: 2rem;
  font-weight: bold;
}

.project-item p {
  margin-bottom: 20px;
  color: #f9f9f9; /* Light text color */
  line-height: 1.8;
}

.project-item p em {
  font-style: italic;
  color: #ff8c00; /* Vibrant orange accent color */
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333; /* Dark mode table background */
  border-radius: 10px;
  overflow: hidden; /* Hide border-collapse gaps */
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #666; /* Dark mode table border */
  color: #f9f9f9; /* Light text color */
  text-align: left; /* Align table content to the left */
}

th {
  background-color: #1a1a1a; /* Dark mode table header background */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #444; /* Alternate row background color */
}

tr:nth-child(odd) {
  background-color: #333; /* Alternate row background color */
}

/* Add hover effect to table rows */
tr:hover {
  background-color: #2a2a2a;
}

/* Footer styles */
footer {
  background-color: #1a1a1a; /* Dark mode footer background */
  color: #ff8c00; /* Vibrant orange link color in dark mode */
  text-align: center;
  padding: 20px;
}

footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer .social-links a {
  color: #ff8c00; /* Vibrant orange social links color in dark mode */
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

footer .social-links a:hover {
  color: #f08cff; /* Vibrant magenta accent color on hover in dark mode */
}




/* Side Mini Navbar styles */
.mini-navbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 9999; /* Ensure the mini-navbar appears above other content */
  transition: background-color 0.3s ease;
}

.mini-navbar:hover {
  background-color: rgba(26, 26, 26, 0.8); /* Transparent background color with alpha channel on hover */
}

.social-icon {
  margin-bottom: 15px;
  text-decoration: none;
  color: #f9f9f9; /* Set the color of the icons to match the dark background */
  transition: transform 0.3s ease, color 0.3s ease; /* Add color transition */
}

.mini-navbar:hover .social-icon {
  color: #ff8c00; /* Change icon color on hover */
  transform: scale(1.2); /* Increase size of icon on hover */
}
.mini-navbar:hover .social-icon:hover {
  color: #f9f9f9; /* Change icon color on hover */
  transform: scale(1.2); /* Increase size of icon on hover */
}



/* Mobile devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust the font size for better readability on small screens */
  }

  header {
    padding: 15px 0; /* Reduce header padding for smaller screens */
  }

  nav a {
    font-size: 1.2rem; /* Decrease the font size of navigation links */
  }

  .about-grid,
  .skills-grid,
  .project-container {
    grid-template-columns: 100%; /* Display one column for smaller screens */
  }

  .profile-image {
    margin-right: 0; /* Remove right margin for the profile image */
  }

  .word-container {
    height: auto; /* Allow the word container to adjust its height */
  }

  .word {
    font-size: 1.2em; /* Adjust the font size of the word */
  }

  section {
    padding: 20px; /* Reduce section padding for smaller screens */
  }

  table {
    font-size: 0.9em; /* Decrease the font size of the table for better fit on small screens */
  }

  footer {
    padding: 15px; /* Reduce footer padding for smaller screens */
  }
}



/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 20px 0; /* Increase header padding for better spacing on tablets */
  }

  nav a {
    font-size: 1.4rem; /* Slightly increase the font size of navigation links on tablets */
  }

  .about-grid,
  .skills-grid,
  .project-container {
    grid-template-columns: repeat(2, 1fr); /* Use two columns for better layout on tablets */
  }

  .profile-image {
    margin-right: 20px; /* Add some margin back for the profile image */
  }

  .word {
    font-size: 1.5em; /* Adjust the font size of the word for tablets */
  }

  section {
    padding: 30px; /* Increase section padding for tablets */
  }

  table {
    font-size: 1em; /* Adjust the font size of the table for tablets */
  }

  footer {
    padding: 20px; /* Adjust footer padding for tablets */
  }
}

